{% extends 'openshed/base.html' %}
{% load form_helpers %}

{% block content %}
    {% if is_manager %}
<div class="float-right noprint">
   <a class="btn btn-primary" href="schedule/add">
      <span class="bi-plus"></span>
      Add
   </a>
</div>
  {% endif %}
<h1>{% block title %}Service Schedules{% endblock %}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Schedule</th>
      <th scope="col">Comment</th>
      <th scope="col">Applies to Category</th>
    </tr>
  </thead>
  <tbody>
{% for schedule in schedules %}
    <tr>
      <td><a href="schedules/{{schedule.id}}">{{schedule.id}}</a></td>
      <td>{{schedule.interval}}</td>
      <td>{{schedule.comment}}</td>
      <td>{{schedule.category}}</td>
      <td>
        {% if is_manager %}
        <a class="btn btn-warning" href="schedules/{{schedule.id}}/edit">
          <span class="bi-pen"></span>
        </a>
        <a class="btn btn-danger" href="schedules/{{schedule.id}}/delete">
          <span class="bi-trash"></span>
        </a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
