{% extends 'openshed/base.html' %}

{% block content %}
<div class="float-right noprint">
   <a class="btn btn-warning" href="{{item.id}}/edit">
      <span class="bi-pen"></span>
      Edit
   </a>
   <a class="btn btn-danger" href="{{item.id}}/delete">
      <span class="bi-trash"></span>
      Delete
   </a>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <strong>Item</strong>
  </div>
  <table class="table table-hover">
    <tr>
      <td>Name</td>
      <td>{{item.item}}</td>
    </tr>
    <tr>
      <td>Product</td>
      <td><a href="../products/{{item.product.id}}">{{item.product.name}}</a></td>
    </tr>
    <tr>
      <td>Serial</td>
      <td>{{item.serial}}</td>
    </tr>
    <tr>
      <td>Size</td>
      <td>{{item.size}}</td>
    </tr>
    <tr>
      <td>Commissioning</td>
      <td>{{item.commissioning_date}}</td>
    </tr>
    <tr>
      <td>Decommissioning</td>
      <td>{{item.decommissioning_date}}</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>{{item.comment}}</td>
    </tr>
    <tr>
      <td>Image</td>
      <td>{{item.image}}</td>
    </tr>
  </table>
</div>
{% endblock %}
