{% extends 'openshed/base.html' %}
{% load form_helpers %}

{% block content %}
  {% if is_manager %}
<div class="float-right noprint">
   <a class="btn btn-warning" href="{{item.id}}/edit">
      <span class="bi-pen"></span>
      Edit
   </a>
   <a class="btn btn-danger" href="{{item.id}}/delete">
      <span class="bi-trash"></span>
      Delete
   </a>
   <a class="btn btn-info" href="{{item.id}}/service">
      <span class="bi-tools"></span>
      Service
   </a>
</div>
  {%  endif %}
<div class="card" style="width: 25rem;">
  <div class="card-header">
    <strong>Item
      <div class="float-right noprint">{% if item.on_loan %}(ON LOAN){% else %}
        {% if not item.reserved %}<a class="btn btn-secondary" href="{{item.id}}/cart_add">
      <span class="bi-bag-plus"></span>
      BORROW
      </a>{% else %}(RESERVED){% endif %}{% endif %}</div></strong>
  </div>
  <table class="table table-hover">
    <tr>
      <td>Name</td>
      <td>{{item.item}}</td>
    </tr>
    <tr>
      <td>Product</td>
      <td><a href="../products/{{item.product.id}}">{{item.product.name}}</a></td>
    </tr>
    <tr>
      <td>Serial</td>
      <td>{{item.serial}}</td>
    </tr>
    <tr>
      <td>Size</td>
      <td>{{item.size}}</td>
    </tr>
    <tr>
      <td>Commissioning</td>
      <td>{{item.commissioning_date}}</td>
    </tr>
    <tr>
      <td>Decommissioning</td>
      <td>{{item.decommissioning_date}}</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>{{item.comment}}</td>
    </tr>
    <tr>
      <td>Service History</td>
      <td>No service required</td>
    </tr>
    <tr>
      <td>{% render_item_image item.image thumbnail=False %}</td>
    </tr>
  </table>
</div>
{% endblock %}
