{% extends 'openshed/base.html' %}

{% block content %}
<div class="float-right noprint">
   <a class="btn btn-primary" href="/items/items/add">
      <span class="bi-plus"></span>
      Add
   </a>
</div>
<h1>{% block title %}Items{% endblock %}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Vendor</th>
      <th scope="col">Supplier</th>
      <th scope="col">Product</th>
      <th scope="col">Serial</th>
      <th scope="col">Size</th>
      <th scope="col">Commissioning</th>
      <th scope="col">Comment</th>
      <th scope="col">Attribution</th>
    </tr>
  </thead>
  <tbody>
{% for item in items %}
    <tr>
      <td><a href="items/{{item.id}}">{{item.item}}</a></td>
      <td><a href="vendors/{{item.product.vendor.id}}">{{item.product.vendor.name}}</a></td>
      <td><a href="suppliers/{{item.supplier.id}}">{{item.supplier.name}}</a></td>
      <td><a href="products/{{item.product.id}}">{{item.product.name}}</a></td>
      <td>{{ item.serial }}</td>
      <td>{{ item.size }}</td>
      <td>{{ item.commissioning_date }}</td>
      <td>{{ item.image }}</td>
      <td>{{ item.comment }}</td>
      <td>
        <a class="btn btn-warning" href="items/{{item.id}}/edit">
          <span class="bi-pen"></span>
        </a>
        <a class="btn btn-danger" href="items/{{item.id}}/delete">
          <span class="bi-trash"></span>
        </a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
