{% extends 'openshed/base.html' %}

{% block content %}
<div class="float-right noprint">
   <a class="btn btn-warning" href="{{type.id}}/edit">
      <span class="bi-pen"></span>
      Edit
   </a>
   <a class="btn btn-danger" href="{{type.id}}/delete">
      <span class="bi-trash"></span>
      Delete
   </a>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <strong>Item type</strong>
  </div>
  <table class="table table-hover">
    <tr>
      <td>Category</td>
      <td><a href="../categories/{{type.category.id}}">{{type.category.name}}</a></td>
    </tr>
    <tr>
      <td>Vendor</td>
      <td><a href="../vendors/{{type.vendor.id}}">{{type.vendor.name}}</a></td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{type.type}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{type.description}}</td>
    </tr>
  </table>
</div>
{% endblock %}
