{% extends 'openshed/base.html' %}

{% block content %}
<div class="float-right noprint">
   <a class="btn btn-primary" href="/items/types/add">
      <span class="bi-plus"></span>
      Add
   </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Vendor</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
{% for item_type in item_types %}
    <tr>
      <td>{{item_type.vendor}}</td>
      <td><a href="types/{{item_type.id}}">{{item_type.type}}</a></td>
      <td>{{item_type.description}}</td>
      <td>
        <a class="btn btn-danger" href="types/{{item_type.id}}/delete">
          <span class="bi-trash"></span>
        </a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
