__pycache__/
*~
Pipfile.lock
**/migrations/**
secretpass
password.env
.idea/dataSources/**
.idea/httpRequests/**
.idea/workspace.xml
.idea/deployment.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
static/**
openshed/jsignature/**
