[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "*"
django = "*"
# Note Ubuntu package libpq-dev required unless you use sqlite or another db
psycopg2 = "*"
django-phone-field = "*"
django-address = "*"
ordered-set = "*"
#django-cart = { git = "https://github.com/bmentges/django-cart"}
pillow = "*"
django-extensions = "*"
django-jsignature = "*"
django-scheduler = { git = "https://github.com/llazzaro/django-scheduler" }

[dev-packages]

[requires]
python_version = "3.9"
