{% extends 'openshed/base.html' %}

{% block content %}
{% csrf_token %}
  <script type="text/javascript">

  function reserve(item, reserve=true) {
      let ret = null;
      let formData = new FormData();
      formData.append("reserve_item", item);
      formData.append("reserve_state", reserve.toString());
      try {
          ret = fetch( "/lending/reserve", {
              method: 'post',
              headers: {
                  'Cache-Control': 'no-store',
              },
              mode: 'same-origin',
              body: formData
          });
      } catch(err) {
        console.error(`Error: ${err}`);
      }
      return ret;
  }

  function bagIt(row, item) {
    //console.log( row, item );
    const button = document.getElementById('bag_'+row);
    const table_row = document.getElementById('row_'+row);
    let basket_count = parseInt(document.getElementById('basket_count').textContent);
    if (button.text==="Bag it") {
        let response = reserve(item, true);
        // true = was reserved
        // false = somebody got there before you
        if (response == 'true') {
            table_row.style.backgroundColor = "green";
            button.text = "Bagged";
            basket_count++;
        } else {
            table_row.style.backgroundColor = "yellow";
            button.disabled = true;
            button.text = "Not available";
        }
    } else {
        let response = reserve(item, false);
        // true = reserved -> free
        // false = free -> free
        if (response == 'true') {
            table_row.style.backgroundColor = "white";
            button.text = "Bag it";
            basket_count--;
        }

    }
    document.getElementById('basket_count').textContent = basket_count.toString()
  }

  </script>
  <h1>{% block title %}<div class="d-flex justify-content-between"><div>Available Items</div><div><label id="basket_count">0</label> items in basket</div></div>{% endblock %}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Vendor</th>
        <th scope="col">Product</th>
        <th scope="col">Serial</th>
        <th scope="col">Size</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr id="row_{{ forloop.counter }}">
        <td><a href="items/{{ item.id }}">{{ item.item }}</a></td>
        <td><a href="vendors/{{ item.product.vendor.id }}">{{ item.product.vendor.name }}</a></td>
        <td><a href="products/{{ item.product.id }}">{{ item.product.name }}</a></td>
        <td>{{ item.serial }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.image }}</td>
        <td>
          <a class="btn" id="bag_{{ forloop.counter }}" href="#" onclick="bagIt({{ forloop.counter }}, {{ item.id }});">Bag it</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
