{% extends 'openshed/base.html' %}
{% load form_helpers %}

{% block content %}
  <form action="/loan/{{ lending_id }}/confirm" method="post">
    {% csrf_token %}
  <h3>Loan Details</h3>

  {% render_field form.from_dt %}
  {% render_field form.to_date %}
  {% render_field form.hire_ti %}
  {% render_field form.reason %}

  <br>
  NOTE:  In completing this form you are assuring the club that the correct items have been handed to the
    person borrowing the items and that all the items have been handed out.<br>
  You have informed the person that the following conditions exist...<br>

  The receiver of the items will:<br>
  <ul>
    <li>Cover the cost of replacement of items not returned</li>
    <li>Will take reasonable care of the items and inform the Club Equipment Officer (or their nominee) of any loss or damage to the items on loan</li>
    <li>Will inform the Club Equipment Officer (or their nominee) of any equipment not suitable for service and not use such items for diving</li>
    <li>Must inform the Club Equipment Officer (or their nominee) as soon as possible if they are unable to return the items at the agreed time</li>
  </ul>
  <div>I, {{ lender }} have done the above</div>
  <input class="btn btn-success btn-sm" type="submit" value="Submit Request">
  </form>
{% endblock %}